################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SMS.Application/.vs/SMS.Application/v16
/SMS.Application/SMS.Application/bin/Debug/net5.0
/SMS.Application/SMS.Application/obj
