@model SMS.Application.ViewModels.Account.ChangePasswordViewModel
@{
    ViewData["Title"] = "ChangePassword";
}

    <div class="container">
        <div class="col-md-12 pl-0">
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index" class="text-muted">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Change Password</li>
            </ul>
        </div>

        <div class="center_all">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12 margin_left15px mb-3">
                                <h4 class="text-maincolor">Change Password</h4>
                            </div>
                            <form method="post" asp-controller="Account" asp-action="UpdatePassword" class="formWidth_100">
                                <div class="form-group" style="visibility:hidden; display:none;">
                                    <input asp-for="@Model.UserId" id="userId" class="form-control" />
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <label class="control-label" for="currentPassword">Current password<span class="required">*</span></label>
                                        </div>
                                        <div class="col-sm-12">
                                            <input type="password" class="form-control" id="currentPassword" placeholder="Enter your current password" required asp-for="@Model.CurrentPassword">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <label class="control-label" for="newPassword">New password<span class="required">*</span></label>
                                        </div>
                                        <div class="col-sm-12">
                                            <input type="password" class="form-control" id="newPassword" placeholder="Enter your new password" required asp-for="@Model.NewPassword">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <label class="control-label" for="confirmPassword">Confirm password<span class="required">*</span></label>
                                        </div>
                                        <div class="col-sm-12">
                                            <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm your new password" required asp-for="@Model.ConfirmNewPassword">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="col-md-12 position_end">
                                        <a class="btn btn-light" asp-controller="Home" asp-action="Index">Cancel</a>
                                        <p>&nbsp;&nbsp;&nbsp;</p>
                                        <button type="submit" class="btn btn-outline-dark ">Update</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

